<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="keywords" content="product manifesto" />
    <meta name="description" content="A short list of things I think are important when building software" />

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👌</text></svg>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body class="container px-5 md:mx-auto my-10">
        <article class="prose xs:prose-sm md:prose-lg">
            {{ content }}
        </article>
    <footer class="footer my-10 opacity-40 text-xs">
        These opinions brought to you by <a title="Constant Meiring" href="https://www.linkedin.com/in/constantmeiring/">Constant Meiring</a>
    </footer>
  </body>
</html>